# Ignore everything
*

# Except...
# Repo config
!.gitignore
!.gitmodules
!README.md

# Shell / Tmux config
!.vpr-env/.profile
!.vpr-env/.bashrc
!.vpr-env/.vimrc
!.vpr-env/.radare2rc
!.vpr-env/.zshrc
!.vpr-env/.zshrc.minimal
!.vpr-env/.tmux.conf

# Utilities
!.utils/
!.utils/docker
!.utils/docker/Dockerfile.mingw-cunit
!.utils/makefile
!.utils/makefile/Makefile.cpp-mingw
!.utils/makefile/Makefile.c-unix
!.utils/makefile/Makefile.c-mingw
!.utils/makefile/Makefile.cpp-unix
!.utils/makefile/Makefile.docker-cmake-c
!.utils/compile_flags
!.utils/compile_flags/compile_flags.txt.c-unix
!.utils/compile_flags/compile_flags.txt.cpp-unix
!.utils/compile_flags/compile_flags.txt.cpp-mingw
!.utils/compile_flags/compile_flags.txt.c-mingw
!.utils/compile_flags/compile_flags.txt.c-mingw-driver
!.utils/license
!.utils/license/LICENSE.mit
!.utils/license/LICENSE.ccbysa_4_0
!.utils/cmake
!.utils/cmake/CMakeLists.txt.top-level
!.utils/cmake/mingw-toolchain.cmake
!.utils/scripts

# Vim
!.config/nvim/init.vim
!.vim/after/syntax/c/aethetics.vim
!.vim/after/syntax/c/highlight_functions.vim
!.vim/after/syntax/cpp/aesthetics.vim
!.vim/after/syntax/cpp/highlight_functions.vim
!.vim/autoload/pathogen.vim
!.vim/bundle/coc.nvim
!.vim/bundle/nerdcommenter
!.vim/bundle/nerdtree
!.vim/bundle/vim-airline
!.vim/bundle/vim-airline-themes
!.vim/coc-settings.json
!.vim/colors/cooler.vim
!.vim/colors/relaxed.vim

# Setup scripts
!install/vpr-setup.sh
!install/arch-toolchain.sh
!install/kali-toolchain.sh
!install/profile-setup.sh
!install/standard-toolchain.sh
!install/vim-setup.sh

# TTP
