# Ignore everything
*

# Except...
# Repo config
!.gitignore
!.gitmodules
!README.md

# Shell / Tmux config
!profile
!bashrc
!vimrc
!radare2rc
!tmux.conf
!init.vim

# Vim
!vim
!vim/after
!vim/after/syntax
!vim/after/syntax/c
!vim/after/syntax/c/aesthetics.vim
!vim/after/syntax/c/highlight_functions.vim
!vim/after/syntax/cpp
!vim/after/syntax/cpp/aesthetics.vim
!vim/after/syntax/cpp/highlight_functions.vim
!vim/autoload
!vim/autoload/pathogen.vim
!vim/bundle
!vim/bundle/coc.nvim
!vim/bundle/nerdcommenter
!vim/bundle/nerdtree
!vim/bundle/vim-airline
!vim/bundle/vim-airline-themes
!vim/coc-settings.json
!vim/colors
!vim/colors/cooler.vim
!vim/colors/relaxed.vim

# Scripts
!scripts/
!scripts/tracing/
!scripts/tracing/ssh_incoming.bt
!scripts/tracing/ssh_outgoing.bt
!scripts/install/
!scripts/install/profile-setup.sh
!scripts/install/vim-setup.sh
